MyBatisX/src/pog.dtd

<!ELEMENT mbg (poPackage,mapperPackage,xmlPackage,table)>

        <!ELEMENT xmlPackage (#PCDATA)>

        <!ELEMENT mapperPackage (#PCDATA)>

        <!ELEMENT poPackage (#PCDATA)>

        <!ELEMENT table (#PCDATA)>
        <!ATTLIST table
                way CDATA #REQUIRED
                scope(singleton|all)
                >